[submodule "pack/pack/start/lightline.vim"]
	path = pack/pack/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/pack/start/neocomplete.vim"]
	path = pack/pack/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "pack/pack/start/vim-go"]
	path = pack/pack/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/pack/start/vim-rails"]
	path = pack/pack/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/pack/start/vim-color-solarized"]
	path = pack/pack/start/vim-color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/pack/start/vim-toml"]
	path = pack/pack/start/vim-toml
	url = https://github.com/cespare/vim-toml
