[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
	ignore = dirty
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
	ignore = dirty
[submodule "pack/plugins/start/vim-gfm-syntax"]
	path = pack/plugins/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
	ignore = dirty
[submodule "pack/plugins/start/yats.vim"]
	path = pack/plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
	ignore = dirty
[submodule "pack/plugins/start/twitvim"]
	path = pack/plugins/start/twitvim
	url = https://github.com/twitvim/twitvim.git
	ignore = dirty
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = dirty
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
	ignore = dirty
[submodule "pack/plugins/start/iceberg.vim"]
	path = pack/plugins/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
	ignore = dirty
[submodule "pack/plugins/start/async.vim"]
	path = pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
	ignore = dirty
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
	branch = signature-help
	ignore = dirty
[submodule "pack/plugins/start/asyncomplete.vim"]
	path = pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
	ignore = dirty
[submodule "pack/plugins/start/asyncomplete-lsp.vim"]
	path = pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
	ignore = dirty
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	ignore = dirty
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/yajs.vim"]
	path = pack/plugins/start/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "pack/plugins/start/vim-jsx-pretty.git"]
	path = pack/plugins/start/vim-jsx-pretty.git
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/plugins/start/vim-goimports"]
	path = pack/plugins/start/vim-goimports
	url = https://github.com/mattn/vim-goimports.git
