[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/vim-color-solarized"]
	path = pack/plugins/start/vim-color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/plugins/start/rtf-highlight"]
	path = pack/plugins/start/rtf-highlight
	url = https://github.com/dharanasoft/rtf-highlight.git
[submodule "pack/plugins/start/vim-elixir"]
	path = pack/plugins/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "pack/plugins/start/vim-gfm-syntax"]
	path = pack/plugins/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "pack/plugins/start/neocomplete.vim"]
	path = pack/plugins/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/plugins/start/yats.vim"]
	path = pack/plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "pack/plugins/start/vim-js-indent"]
	path = pack/plugins/start/vim-js-indent
	url = https://github.com/jason0x43/vim-js-indent.git
[submodule "pack/plugins/start/tsuquyomi"]
	path = pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "pack/plugins/start/twitvim"]
	path = pack/plugins/start/twitvim
	url = https://github.com/twitvim/twitvim.git
